@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap');

 @font-face {
    font-family: 'Exo 2',sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

.mobile-menu {
    position: fixed;
    top: 1px;
    left: 5px;
    cursor: pointer;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
}

li h1{
    color: #FFD600;
    font-family: 'Exo 2',sans-serif;
}
/* estilizando todas as divs dentro do menu */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #FFD600;
    margin: 8px;
    transition: 0.3s;
}

/* estilizando a lista aonde ficará os links */
.nav-list {
    display: flex;
    border: 2px #FFD600 solid;
    list-style: none;
    position: fixed;
    top: 8vh;
    right: left;
    width: 385px;
    height: 90vh;
    border-radius: 0 20px 20px 0;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
    overflow: hidden;
}
  
/* mais configurações para as fontes */
.nav-list li {
    margin-left: 0;
    letter-spacing: 3px;
    margin: auto;
    opacity: 0;
}

/* estlizando o titulo serveur dentro do menu */
.nav-list li:first-child {
    color: #FFD600;
    text-transform: uppercase;
    font-family: 'Exo 2',sans-serif;
    font-size: 25px;
}

/* links do menu */
.nav-list li a {
    color: #FFD600;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Exo 2',sans-serif;
    font-size: 22px;
}
  
/* função hover dos links do menu */
.nav-list li a:hover {
    opacity: 0.7;
}
  
/* linha branca traçada embaixo de cada link */
.line {
    width: 80%;
    height: 1px;
    background-color: #FFD600;
}

/* trazendo a caixa contendo os links para a posição inicial (0) */
.nav-list.ativo {
    transform: translateX(0);
}
 
/* keyframe de animação para trazer a caixa */
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
/* estilizando o menu hamburguer para, quando clicado, mudar a posição das linhas formando um x */
.mobile-menu.ativo .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.ativo .line2 {
    opacity: 0;
}
  
.mobile-menu.ativo .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ----> Logo para mobile <---- */
.navLogo {
    display: none;
}
  
/* ----->FIM DO MENU HAMBURGUER<----- */

.home{
    width: 100%;
    height: auto;
    overflow: auto;
}
#imgbg{
    width: 100%;
    height: 500px;
    background-image: url(/src/imgs/bgfirstsec.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#divisorbranco{
    position: absolute;
    top: 315px;
    width: 100%;
    height: 310px;
    background-image: url(/src/imgs/divisorbranco.svg);
    background-position: center;
}
#logo{
    background-image: url(/src/imgs/icondogstown.svg);
    background-position: center;
    background-size: cover;
    height: 367px;
    width: 24%;
    top: 6px;
    left: 110px;
    position: absolute;
}
/*formatando o conteudo da section sobre nós*/
.aboutus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    width: 100%;
    height: 755px;
}

/*posicionando a imagem do sobre nós*/
#skateimage{
    width: 40%;
    height: 557px;
    background-image: url(/src/imgs/aboutskate.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/*formatação dos textos*/
#textcontent{
    flex-direction: column;
    font-family: 'Exo 2',sans-serif;
    text-align: center;
    max-width: 640px;
    line-height: 45px;
}
#textcontent h1{
    font-size: 35px;
}
#textcontent p{
    font-size: 29px;
}

/*dividindo a pagina*/
#divisoramarelo{
    position: absolute;
    top: 1090px;
    width: 100%;
    height: 320px;
    background-image: url(/src/imgs/divisoramarelo.png);
    background-position: center;
    background-repeat: no-repeat;
}
#divisoramarelo2{
position: absolute;
    top: 1547px;
    width: 100%;
    height: 320px;
    background-image: url(/src/imgs/divisoramarelo2.svg);
    background-position: center;
    background-repeat: no-repeat;
}
/*formatando o conteudo da section localização*/
.localization{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    overflow: auto;
}
#mapa{
    margin-left: 199px;
    border-radius: 50%;
    overflow: auto;
}
#textloc{
    width: 39%;
    font-size: 50px;
    font-family: 'Exo 2',sans-serif;
}


.manobras{
    font-family: 'Exo 2',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);
}

.manobras input{
    font-family: 'Exo 2',sans-serif;
    background-color: #FFD600;
    color: #ffffff;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: -60px;
    cursor: pointer;
}

.manobras input:hover{
    background-color: #ffffff;
    color: #FFD600;
    border: #FFD600 2px solid;
}

/*configuração do slider*/
.slider {
    margin-top: -58px;
    width: 55%;     
    height: 500px;
    overflow: hidden;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slider img:first-child {
    opacity: 1;
  }

  /*formatando o footer*/
  footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center ;
    font-family: 'Exo 2',sans-serif;
    background-color: #FFD600;
    width: 100%;
    height: 72px;
  }
